# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# idea ignore
.idea/
.vscode/
.vendor/
*.ipr
*.iml
*.iws
*.sum

# system ignore
.DS_Store
Thumbs.db

# temp ignore
*.log
*.cache
*.diff
*.exe
*.patch
*.tmp
main
